!!!
%html
  %head
    %title MyBascamp1
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload"
    = javascript_include_tag "rails-ujs"
  %body
    - if user_signed_in?
      = link_to "Log out", destroy_user_session_path, method: :delete
    = yield